.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: row;
  justify-content: flex-start;
  gap:.5rem;
}

.container-one {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: row;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
}

.container-two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.box {
  border: 1px solid black;
  background: white;
  padding-left: 1px;
  padding-right: 1px;
  padding-top: 1px;
}

.box-one {
  border: 1px solid black;
  background: white;
  padding: .5rem;
  padding-bottom: 1rem;
}

.cedarville-cursive-regular {
  font-family: "Cedarville Cursive", cursive;
  font-weight: 400;
  font-style: normal;
}

.indie-flower-regular {
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
}

.noto-sans jp-regular {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

p.a {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 300%
}

footer {
  font-style: italic;
}
